/ai-dentist-e728f5548373.json
/app.py
/create_database.py
/dentist.py
/instance
/PyAudio-0.2.14-cp312-cp312-win_amd64.whl
/qa_bot.py
/qa_bot1.py
/qa_bot2.py
/qa_bot3.py
/qa_bot_latest.py
/qa_bot_old.py
/qa_bot_working.py
/qa_database.db
/static
/templates
/update_database.py